@font-face {
    font-family: ecriturepluslisible;
    src: url(/fonts/SimpleHandmade.ttf);
}
@font-face {
    font-family: ecriturepluslisible2;
    src: url(/fonts/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
body{
    margin: 0px;
    color: #000;
    font-family: ecriturepluslisible;
}
.mainsection{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}
a{
    text-decoration: none;
    font-family: ecriturepluslisible;
    transition: 0.4s;
}
a:hover{
    text-decoration:line-through;
}


/* page ecriture du journal intime */
/* le container de tout les textes */
.unjour{
    margin-top: 90px;
}
.ecriturecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
}
.date{
    font-size: 24px;
}
.ecriture{
    font-family: ecriturepluslisible2;
}